.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #49485e;
    padding: 10px 20px;
    color: white;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
}

.header input {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
}

.header button {
    background-color: #7f77f1;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 6px 12px;
    cursor: pointer;
}
