/* 전체 헤더 스타일 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #49475e;
    height: 46px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* 로고 스타일 */
.header-logo img {
    height: 49px;
}

/* 검색창 스타일 */
.header-search {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    overflow: hidden;
    height: 28px;
    width: 320px;
}

.header-search input {
    background: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    flex-grow: 1;
    font-size: 14px;
}

.header-search input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.header-search button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
}

/* 사용자 정보 */
.header-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 사용자 아이콘 */
.user-icon {
    color: white;
    font-weight: bold;
    font-size: 12px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* 로그아웃 버튼 */
.logout {
    color: white;
    font-size: 14px;
    cursor: pointer;
}
