.sidebar-favorites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8px;
    width: 254px;
    margin-top: 10px;
    padding-right: 20px;
}

.sidebar-favorites .favorites-button {
    border-radius: 4px;
    height: 24px;
    width: 100px;
    margin-bottom: 5px;
    cursor: pointer;
}

.sidebar-favorites .favorites-text {
    color: #656f7d;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    margin-top: 10px;
}

/* 작업 공간 메뉴 */
.sidebar-workspace-menu {
    width: 231px;
    margin-top: 5px;
}

.sidebar-workspace-container {
    /* 폭을 부모에 맞춰 100% 사용 */
    width: 100%;
    display: flex;
    flex-direction: column; /* 세로 배치 */
    margin-bottom: 5px;
    margin-top: 1px;
}

.workspace-title {
    color: #656f7d;
    font-family: "Inter-Bold", sans-serif;
    font-size: 11.8px;
    font-weight: 700;
    line-height: 32px;
}

.workspace-add-button {
    background-color: #5f55ee;
    border-radius: 4px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 364px;
    right: 30px;
    cursor: pointer;
}

/* 작업 공간 리스트 */
.workspace-active {
    position: relative;
    width: 231px;
    margin-bottom: 5px;
}

.workspace-active .active-bg {
    background-color: #e5e4fc;
    border-radius: 8px;
    height: 32px;
    width: 231px;
    position: absolute;
    top: 0;
    left: 0;
}

.workspace-active .active-text {
    color: #000000;
    font-family: "Inter-Medium", sans-serif;
    font-size: 13.7px;
    font-weight: 500;
    line-height: 32px;
    padding-left: 45px;
    position: relative;
    z-index: 2;
}

.workspace-icon {
    background-color: #ffffff;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 10px;
    z-index: 3;
}

.workspace-arrow {
    color: #544dc9;
    font-family: "Inter-BlackItalic", sans-serif;
    font-size: 12.2px;
    font-style: italic;
    font-weight: 900;
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 3;
}

/* 작업 공간 하위 메뉴 */
.workspace-list {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.workspace-list-item {
    color: #000000;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
}

.workspace-list-item:hover {
    text-decoration: underline;
    color: #5f55ee;
}

.workspace-list-item.active {
    font-weight: 500;
    background-color: #e5e4fc;
    border-radius: 8px;
    padding-left: 10px;
    margin-left: 20px;
}

.team-list-title {
    color: #656f7d;
    font-family: "Inter-Bold", sans-serif;
    font-size: 11.8px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 4px; /* 필요하다면 여백 조정 */
}

.team-list {
    color: #000000;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12.7px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
}

.team-list:hover {
    text-decoration: underline;
    color: #5f55ee;
}

.team-list.active {
    font-weight: 500;
    background-color: #e5e4fc;
    border-radius: 8px;
    padding-left: 10px;
    margin-left: 20px;
}